<%provide(:page, "Bootstrap Demos") %>
<%provide(:prev, root_path) %>
<%provide(:next, bootstrap_grids_path) %>

<div class="jr-dark-body">
	<div class="row text-center">
		<h3>Pick a component</h3>
	</div>
	<div class="row spacer">
		<div class="col-xs-4">
			<%= link_to "Grids & Sections", bootstrap_grids_path,
									class: 'btn btn-block btn-success btn-ghost'  %>
		</div>
		<div class="col-xs-4">
			<%= link_to "Buttons", bootstrap_buttons_path, 
									class: 'btn btn-block btn-success btn-ghost'  %>
		</div>
		<div class="col-xs-4">
			<%= link_to "Glyphicons", bootstrap_glyphs_path, 
									class: 'btn btn-block btn-success btn-ghost'  %>
		</div>
	</div>    
	<div class="row spacer">
		<div class="col-xs-4">
			<%= link_to "Forms", bootstrap_forms_path, 
									class: 'btn btn-block btn-success btn-ghost'  %>
		</div>
		<div class="col-xs-4">
			<%= link_to "Dropdowns", bootstrap_dropdowns_path, 
									class: 'btn btn-block btn-success btn-ghost'  %>
		</div>
		<div class="col-xs-4">
			<%= link_to "Tabs", bootstrap_tabs_path, 
									class: 'btn btn-block btn-success btn-ghost'  %>
		</div>
	</div>
	<div class="row spacer">
		<div class="col-xs-4">
			<%= link_to "Navbars", bootstrap_navbars_path, 
									class: 'btn btn-block btn-success btn-ghost'  %>
		</div>	
		<div class="col-xs-4">
			<%= link_to "List Groups", bootstrap_list_groups_path, 
									class: 'btn btn-block btn-success btn-ghost'  %>
		</div>
		<div class="col-xs-4">
			<%= link_to "Panels", bootstrap_panels_path, 
									class: 'btn btn-block btn-success btn-ghost'  %>
		</div>
	</div>
	<div class="row spacer">
		<div class="col-xs-4">
			<%= link_to "Image Carousels", bootstrap_images_path, 
									class: 'btn btn-block btn-success btn-ghost'  %>
		</div>
		<div class="col-xs-4">
			<%= link_to "Modal Windows", bootstrap_modals_path, 
									class: 'btn btn-block btn-success btn-ghost'  %>
		</div>
		
	</div>
</div>
