<div class="grey1-bg">
  
  <div class="jumbotron text-center">
    <h1>Bootstrap Demo</h1>
  </div>
  <div class="row text-center">
    <h3>Pick a component</h3>
  </div>
  
  <div class="row">
    
    <div class="col-xs-4">
      <div class="well">
        <%= link_to "The Grid System", pages_grids_path, 
                  class: 'btn btn-default btn-lg btn-block'  %>
      </div>
    </div>
      
    <div class="col-xs-4">
      <div class="well">
        <%= link_to "Buttons", pages_grids_path, 
                  class: 'btn btn-default btn-lg btn-block'  %>
      </div>
    </div>
      
    <div class="col-xs-4">
      <div class="well">
        <%= link_to "Glyphs", pages_grids_path, 
                  class: 'btn btn-default btn-lg btn-block'  %>
      </div>
    </div>
      
  </div>    
  
  <div class="row">
        
    <div class="col-xs-4">
      <div class="well">
        <%= link_to "Forms", pages_grids_path, 
                  class: 'btn btn-default btn-lg btn-block'  %>
      </div>
    </div>
    
    <div class="col-xs-4">
      <div class="well">
        <%= link_to "Dropdowns", pages_grids_path, 
                  class: 'btn btn-default btn-lg btn-block'  %>
      </div>
    </div>
      
    <div class="col-xs-4">
      <div class="well">
        <%= link_to "Tabs", pages_grids_path, 
                  class: 'btn btn-default btn-lg btn-block'  %>
      </div>
    </div>
    
  </div>
  
  <div class="row">
      
    <div class="col-xs-4">
      <div class="well">
        <%= link_to "Navbar", pages_grids_path, 
                  class: 'btn btn-default btn-lg btn-block'  %>
      </div>
    </div>
  
    <div class="col-xs-4">
      <div class="well">
        <%= link_to "List Groups", pages_grids_path, 
                  class: 'btn btn-default btn-lg btn-block'  %>
      </div>
    </div>
      
    <div class="col-xs-4">
      <div class="well">
        <%= link_to "Panels", pages_grids_path, 
                  class: 'btn btn-default btn-lg btn-block'  %>
      </div>
    </div>
  
  </div>
  
  <div class="row">
        
    <div class="col-xs-4">
      <div class="well">
        <%= link_to "Model Window", pages_grids_path, 
                  class: 'btn btn-default btn-lg btn-block'  %>
      </div>
    </div>
    
  <div class="row">
        
    <div class="col-xs-4">
      <div class="well">
        <%= link_to "Collapse and Courousels", pages_grids_path, 
                  class: 'btn btn-default btn-lg btn-block'  %>
      </div>
    </div>
      
  </div>
</div>
