<div class="darkula">
	
	<div class="jumbotron text-center">
		<h1>Bootstrap Demo</h1>
	</div>
	<div class="row text-center">
		<h3>Pick a component</h3>
	</div>

	<div class="row spacer">
		
		<div class="col-xs-4">
			<%= link_to "Grid System", pages_grids_path,
									class: 'btn btn-block btn-success btn-ghost'  %>
		</div>
			
		<div class="col-xs-4">
			<%= link_to "Buttons", pages_buttons_path, 
									class: 'btn btn-block btn-success btn-ghost'  %>
		</div>
			
		<div class="col-xs-4">
			<%= link_to "Glyphicons", pages_glyphs_path, 
									class: 'btn btn-block btn-success btn-ghost'  %>
		</div>
			
	</div>    
	
	<div class="row spacer">
				
		<div class="col-xs-4">
			<%= link_to "Forms", pages_forms_path, 
									class: 'btn btn-block btn-success btn-ghost'  %>
		</div>
		
		<div class="col-xs-4">
			<%= link_to "Dropdowns", pages_dropdowns_path, 
									class: 'btn btn-block btn-success btn-ghost'  %>
		</div>
			
		<div class="col-xs-4">
			<%= link_to "Tabs", pages_tabs_path, 
									class: 'btn btn-block btn-success btn-ghost'  %>
		</div>
		
	</div>
	
	<div class="row spacer">
			
		<div class="col-xs-4">
			<%= link_to "Navbar", pages_navbars_path, 
									class: 'btn btn-block btn-success btn-ghost'  %>
		</div>
	
		<div class="col-xs-4">
			<%= link_to "List Groups", pages_list_groups_path, 
									class: 'btn btn-block btn-success btn-ghost'  %>
		</div>
			
		<div class="col-xs-4">
			<%= link_to "Panels", pages_panels_path, 
									class: 'btn btn-block btn-success btn-ghost'  %>
		</div>
	
	</div>
	
	<div class="row spacer">
				
		<div class="col-xs-4">
			<%= link_to "Model Windows", pages_model_windows_path, 
									class: 'btn btn-block btn-success btn-ghost'  %>
		</div>
		
	<div class="row">
				
		<div class="col-xs-4">
			<%= link_to "Collapse & Courousels", pages_collapse_carousels_path, 
									class: 'btn btn-block btn-success btn-ghost'  %>
		</div>
			
	</div>
</div>
