<%= link_to root_path do %>  
<div class="well text-center link">
	<h1 class="link">Bootstrap Demo</h1>
</div>
<% end %>

<div class="row">
	<div class="col-xs-1">
		<%= link_to "Prev", pages_navbars_path, class: 'btn btn-default btn-ghost' %>
	</div>
	<div class="col-xs-9 text-center">
		<h2>List Groups<h2>
	</div>
	<div class="col-xs-2">
		<%= link_to "Next", pages_panels_path, class: 'btn btn-default btn-ghost' %>
	</div>
</div>

<div class="row">
 
 
 
 


<div class="row">
	<div class="col-xs-1">
		<%= link_to "Prev", pages_navbars_path, class: 'btn btn-default btn-ghost' %>
	</div>
	<div class="col-xs-2 col-xs-offset-9">
		<%= link_to "Next", pages_panels_path, class: 'btn btn-default btn-ghost' %>
	</div>
</div>
