<!DOCTYPE html>
<html>
<head>
	<%= favicon_link_tag 'favicon.ico' %>
	<title>Bootstrap Demo</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body class="darkula">

<!-- navbar 
	<nav class="navbar navbar-default" role="navigation">
		<div class='container'>
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<%= link_to '#', class: 'navbar-brand' do %>
						Jeff Russ
				<% end %>
			</div>
			<div class="collapse navbar-collapse" >
					
			</div><!-- /.navbar-collapse -->
		</div>
	</nav>!-->

<div class="container">
	
<!-- not so jumbotron  !-->
<%= link_to root_path do %>  
<div class="well text-center link">
	<h1 class="link">Bootstrap Demo</h1>
</div>
<% end %>
<!-- top navigation  !-->
<div class="row">
	<div class="col-xs-1">
		<%= link_to "Prev", pages_tabs_path, class: 'btn btn-default btn-ghost' %>
	</div>
	<div class="col-xs-9 text-center">
		<h2>Navbars<h2>
	</div>
	<div class="col-xs-2">
		<%= link_to "Next", pages_list_groups_path, class: 'btn btn-default btn-ghost' %>
	</div>
</div>

<nav class="navbar navbar-default" role="navigation">
</nav>

<!-- lesson materials  !-->
<div class="row">
	<div class="col-xs-5">
		The bare minimum to make a navbar as seen above is this code:
	</div>
	<div class="col-xs-7">
		<xmp>
<nav class="navbar navbar-default" role="navigation">
</nav>
		</xmp>
	</div> 
</div>
 
 
 

<!-- bottom navigation  !-->
<div class="row">
	<div class="col-xs-1">
		<%= link_to "Prev", pages_tabs_path, class: 'btn btn-default btn-ghost' %>
	</div>
	<div class="col-xs-2 col-xs-offset-9">
		<%= link_to "Next", pages_list_groups_path, class: 'btn btn-default btn-ghost' %>
	</div>
</div>

</div>
</body>
</html>