<%= link_to root_path do %>  
<div class="well text-center link">
	<h1 class="link">Bootstrap Demo</h1>
</div>
<% end %>

<div class="row">
	<div class="col-xs-1">
		<%= link_to "Prev", pages_dropdowns_path, class: 'btn btn-default btn-ghost' %>
	</div>
	<div class="col-xs-9 text-center">
		<h2>Tabs<h2>
	</div>
	<div class="col-xs-2">
		<%= link_to "Next", pages_navbars_path, class: 'btn btn-default btn-ghost' %>
	</div>
</div>

<!--  !-->

<div class="row">
	<ul class='nav nav-tabs'>
		<li class='active'><a data-toggle="tab" href="#section-1">Section 1</a></li>
		<li><a data-toggle="tab" href="#section-2">Section 2</a></li>
		<li><a data-toggle="tab" href="#section-3">Section 3</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane fade in active" id="section-1">
			<p>This is section 1 content</p>
		</div>
		<div class="tab-pane fade" id="section-2">
			<p>This is section 2 content</p>
		</div>
		<div class="tab-pane fade" id="section-3">
			<p>This is section 3 content</p>
		</div>
	</div>
</div> 

<div class="row">
	<div class="col-xs-4"><br>
		The tabs above were created with the code on the right. They are an unordered 
		list with the classes nav and nav-tabs. The list items are anchors with the 
		data-toggle attribute set to tab rather than dropdown as we saw earlier. By 
		the way, if you have Sublime Text keybindings you can generate all of the li 
		element by typing li*3>a[data-toggle='tab'][href='#section-$']{Section $} 
		and hitting tab! class='active' is added to make the first tab selected by 
		default.
	</div>
	
	<div class="col-xs-7 col-xs-offset-1"> 
		<xmp>
<ul class='nav nav-tabs'>
	<li class='active'>
		<a data-toggle="tab" href="#section-1">Section 1</a>
	</li>
	<li><a data-toggle="tab" href="#section-2">Section 2</a></li>
	<li><a data-toggle="tab" href="#section-3">Section 3</a></li>
</ul>
		</xmp>
	</div>
</div>




<!--  !-->


<div class="row">
	<div class="col-xs-4"><br>
		The content displayed below the tabs by the div you see on the right. Once 
		you make the tab-content div you can stub out the other tab-pane div's in 
		Sublime Text with .tab-pane#section-$*3>p{This is section $ content} and 
		hitting tab. fade was added to all tab-panes and the first one gets the classes 
		in and active.<br><br>
		If you want the tabs to look more like buttons you simply change nav-tabs to 
		nav-pills
	</div>
	
	<div class="col-xs-7 col-xs-offset-1"> 
		<xmp>
<div class="tab-content">
	<div class="tab-pane fade in active" id="section-1">
		<p>This is section 1 content</p>
	</div>
	<div class="tab-pane fade" id="section-2">
		<p>This is section 2 content</p>
	</div>
	<div class="tab-pane fade" id="section-3">
		<p>This is section 3 content</p>
	</div>
</div>
		</xmp>
	</div>
</div>


<div class="row">
	<ul class='nav nav-pills'><br><br>
		<li class='active'><a data-toggle="tab" href="#section-1">Section 1</a></li>
		<li><a data-toggle="tab" href="#section-2">Section 2</a></li>
		<li><a data-toggle="tab" href="#section-3">Section 3</a></li>
	</ul>
</div>

<div class="row"><br><br>
	If you want them stacked you simply add the class nav-stacked:
</div>

<div class="row">
	<ul class='nav nav-pills nav-stacked'><br><br>
		<li class='active'><a data-toggle="tab" href="#section-1">Section 1</a></li>
		<li><a data-toggle="tab" href="#section-2">Section 2</a></li>
		<li><a data-toggle="tab" href="#section-3">Section 3</a></li>
	</ul>
</div>

<div class="row"><br><br>
	Change nav-stacked to nav-justified and you get this:
</div>

<div class="row">
	<ul class='nav nav-pills nav-justified'><br><br>
		<li class='active'><a data-toggle="tab" href="#section-1">Section 1</a></li>
		<li><a data-toggle="tab" href="#section-2">Section 2</a></li>
		<li><a data-toggle="tab" href="#section-3">Section 3</a></li>
	</ul>
</div>

<div class="row"><br><br>
	On screen widths smaller than 768px, nav-justified will become nav-stacked.<br><br>
</div>
<!--  !-->
<div class="row">
	<div class="col-xs-1">
		<%= link_to "Prev", pages_dropdowns_path, class: 'btn btn-default btn-ghost' %>
	</div>
	<div class="col-xs-2 col-xs-offset-9">
		<%= link_to "Next", pages_navbars_path, class: 'btn btn-default btn-ghost' %>
	</div>
</div>



<!-- .tab-pane#section-$*3>p{This is section $ content} !-->