<!DOCTYPE html>
<html>
<head>
	<%= favicon_link_tag 'favicon.ico' %>
	<title>Bootstrap Demo</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body class="jr-dark-body">
	
	<nav class="navbar navbar-inverse navbar-static-top blacknav" role="navigation">
		<div class='container'>
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<%= link_to '#', class: 'navbar-brand' do %>
						Jeff Russ
				<% end %>
			</div>
			<div class="collapse navbar-collapse" >
					
			</div><!-- /.navbar-collapse -->
		</div>
	</nav>

	<div class="container">
		<%= yield %>
	</div>
</body>
</html>
