<!DOCTYPE html>
<html>
<head>
	<%= favicon_link_tag 'favicon.ico' %>
	<title>Bootstrap Demo</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body class="jr-dark-body">
	
	<nav class="navbar navbar-inverse navbar-fixed-top blacknav" role="navigation">
		<div class='container'>
			<div class="navbar-left" style='margin-top: -15px;'>
				<%= link_to '#', class: "navbar-brand" do %>
					<button class="btn navbar-btn greenwell">
						<!--<img style="max-width:100px; margin-top: -7px;"-->
						<img style="max-width:50px; margin-top: -2px;"
							src="/assets/JR_20px_wide.png">
					</button>
				<% end %>
			</div>
			
			<div class="navbar-right">
				
				<%= link_to yield(:prev) do %>
				<span class="glyphicon glyphicon-chevron-left jr-green" style="font-size: 20px" >
				</span>
				<% end %>
				
				<!--<%= link_to root_path do %>  -->
				<!--<button class="btn navbar-btn greenwell" type='button'>-->
				<!--		<%= yield(:page)  %>-->
				<!--</button> -->
				<!--<% end %>-->
				
				<button type='button' class="btn navbar-btn greenwell" 
							data-toggle='modal' data-target='#modal-menu'>
					<%= yield(:page)  %>
				</button>
				
				<%= link_to yield(:next) do %>	
				<span class="glyphicon glyphicon-chevron-right jr-green" style="font-size: 20px" >
				</span>
				<% end %>
			</div>
		</div>
	</nav>
	<div class="container nav-spacer">
		
		<div class="modal custom" id="modal-menu" tabindex='-1' role='dialog'>
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss='modal'>
							&times;</button>
					</div>
					<div class="modal-body">
						<div class="jr-dark-body">
							<div class="row text-center">
								<h3>Pick a component</h3>
							</div>
							<div class="row spacer">
								<div class="col-xs-4">
									<%= link_to "Grids & Sections", pages_grids_path,
															class: 'btn btn-block btn-success btn-ghost'  %>
								</div>
								<div class="col-xs-4">
									<%= link_to "Buttons", pages_buttons_path, 
															class: 'btn btn-block btn-success btn-ghost'  %>
								</div>
								<div class="col-xs-4">
									<%= link_to "Glyphicons", pages_glyphs_path, 
															class: 'btn btn-block btn-success btn-ghost'  %>
								</div>
							</div>    
							<div class="row spacer">
								<div class="col-xs-4">
									<%= link_to "Forms", pages_forms_path, 
															class: 'btn btn-block btn-success btn-ghost'  %>
								</div>
								<div class="col-xs-4">
									<%= link_to "Dropdowns", pages_dropdowns_path, 
															class: 'btn btn-block btn-success btn-ghost'  %>
								</div>
								<div class="col-xs-4">
									<%= link_to "Tabs", pages_tabs_path, 
															class: 'btn btn-block btn-success btn-ghost'  %>
								</div>
							</div>
							<div class="row spacer">
								<div class="col-xs-4">
									<%= link_to "Navbars", pages_navbars_path, 
															class: 'btn btn-block btn-success btn-ghost'  %>
								</div>	
								<div class="col-xs-4">
									<%= link_to "List Groups", pages_list_groups_path, 
															class: 'btn btn-block btn-success btn-ghost'  %>
								</div>
								<div class="col-xs-4">
									<%= link_to "Panels", pages_panels_path, 
															class: 'btn btn-block btn-success btn-ghost'  %>
								</div>
							</div>
							<div class="row spacer">
								<div class="col-xs-4">
									<%= link_to "Image Carousels", pages_carousels_path, 
															class: 'btn btn-block btn-success btn-ghost'  %>
								</div>
								<div class="col-xs-4">
									<%= link_to "Modal Windows", pages_modal_windows_path, 
															class: 'btn btn-block btn-success btn-ghost'  %>
								</div>
							</div>
						</div>
						<div class="modal-footer"></div>
					</div>
\					
				</div>
			</div>
		</div>
	
		<%= link_to root_path do %>  
		<div class="well text-center link">
			<h1 class="link"><%= yield(:page) %></h1>
		</div>
		<% end %>

		<%= yield %>

		
		<div class="row">
			<div class="span12">
				<br><br><hr><small>    © Copyright 2015 Jeffrey Russ.</small><br><br><br>
			</div>
		</div>
	</div>
</body>
</html>
