<!DOCTYPE html>
<html>
<head>
	<%= favicon_link_tag 'favicon.ico' %>
	<title>Bootstrap Demo</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body class="jr-dark-body">
	
	<nav class="navbar navbar-inverse navbar-fixed-top blacknav" role="navigation">
		<div class='container'>
			<div class="navbar-left" style='margin-top: -15px;'>
				<%= link_to '#', class: "navbar-brand" do %>
					<button class="btn navbar-btn greenwell">
						<!--<img style="max-width:100px; margin-top: -7px;"-->
						<img style="max-width:50px; margin-top: -2px;"
							src="/assets/JR_20px_wide.png">
					</button>
				<% end %>
			</div>
			
			<div class="navbar-right">
				
				<%= link_to yield(:prev) do %>
				<span class="glyphicon glyphicon-chevron-left jr-green" style="font-size: 20px" >
				</span>
				<% end %>
				
				<%= link_to root_path do %>  
				<button class="btn navbar-btn greenwell" type='button'>
						<%= yield(:page)  %>
				</button> 
				<% end %>
				
				<%= link_to yield(:next) do %>	
				<span class="glyphicon glyphicon-chevron-right jr-green" style="font-size: 20px" >
				</span>
				<% end %>
			</div>
		</div>
	</nav>
	<div class="container nav-spacer">
	
		<%= link_to root_path do %>  
		<div class="well text-center link">
			<h1 class="link"><%= yield(:page) %></h1>
		</div>
		<% end %>

		<%= yield %>
		
		<div class="row">
			<div class="span12">
				<br><br><hr><small>    © Copyright 2015 Jeffrey Russ.</small><br><br><br>
			</div>
		</div>
	</div>
</body>
</html>
